@{
    ViewData["Title"] = "Quản Lý Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Admin.Models.SanPham>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <form asp-action="Index" asp-controller="QunLySanPham">
        <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">

                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" asp-controller="QuanLySanPham" asp-action="ThemSanPham" title="Thêm">
                                <i class="fas fa-plus"></i>
                                Tạo mới sản phẩm
                            </a>
                        </div>
                        
                        <table class="table table-hover table-bordered" id="sampleTable" >
                            <thead>
                                <tr>
                                    <th width="10"><input type="checkbox" id="all"></th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Tình trạng</th>
                                    <th>Giá tiền</th>
                                    <th>Danh mục</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.TenSanPham)</td>
                                            <td><img src="/img-sanpham/theresa.jpg" alt="" width="100px;"></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td><span class="badge bg-success"></span>
                                                @Html.DisplayFor(modelItem => item.TinhTrang)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GiaBan)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DanhMuc)
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                                        onclick="myFunction(this)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button  class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                        data-target="#ModalUP">
                                                    <i class="fas fa-edit"></i>
                                                </button>

                                            </td>
                                        </tr>
                                    }
                                    
                           
                            </tbody>
                        </table>

                           
                    </div>
            </div>
        </div>
    </div>
    </form>
</main>

<!--
  MODAL
-->
@* <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <form asp-action="Update" asp-controller="QuanLySanPham" method="post">
                    <div class="form-group col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Chỉnh sửa thông tin sản phẩm cơ bản</h5>
                        </span>
                    </div>
           
            <div class="row">
                <div class="form-group col-md-3">
                    <label asp-for="TenSanPham" class="control-label">Tên Sản Phẩm</label>
                    <input asp-for="TenSanPham" class="form-control" />
                    <span asp-validation-for="TenSanPham" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SoLuong" class="control-label">Số Lượng</label>
                    <input asp-for="SoLuong" class="form-control" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="TinhTrang" class="control-label">Tình Trạng</label>
                    <select asp-for="TinhTrang" class="form-control" id="exampleSelect1">
                        <option>-- Chọn tình trạng --</option>
                        <option>Còn hàng</option>
                        <option>Hết hàng</option>
                    </select>
                    <span asp-validation-for="TinhTrang" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DanhMuc" class="control-label">Danh Mục</label>
                    <select asp-for="DanhMuc" class="form-control" id="exampleSelect1">
                        <option>-- Chọn danh mục --</option>
                        <option>Bàn ăn</option>
                        <option>Bàn thông minh</option>
                        <option>Tủ</option>
                        <option>Ghế gỗ</option>
                        <option>Ghế sắt</option>
                        <option>Giường người lớn</option>
                        <option>Giường trẻ em</option>
                        <option>Bàn trang điểm</option>
                        <option>Giá đỡ</option>
                    </select>
                    <span asp-validation-for="DanhMuc" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="NhaCungCap" class="control-label">Nhà Cung Cấp</label>
                    <select asp-for="NhaCungCap" class="form-control" id="exampleSelect1">
                        <option>-- Chọn nhà cung cấp --</option>
                        <option>Phong vũ</option>
                        <option>Thế giới di động</option>
                        <option>FPT</option>
                        <option>Võ Trường</option>
                    </select>
                    <span asp-validation-for="NhaCungCap" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="GiaBan" class="control-label">Giá Bán</label>
                    <input asp-for="GiaBan" class="form-control" />
                    <span asp-validation-for="GiaBan" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="GiaVon" class="control-label">Giá Vốn</label>
                    <input asp-for="GiaVon" class="form-control" />
                    <span asp-validation-for="GiaVon" class="text-danger"></span>
                </div>

                <br />
                <button class="btn btn-save" type="submit">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" asp-controller="QuanLySanPham" asp-action="Index">Hủy bỏ</a>
                <br />
            </div>
            <div class="modal-footer">
            </div>

            </form>

               
            </div>
        </div>
    </div>
</div> *@


    <!-- The javascript plugin to display page loading on top-->
<script src="~/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",
                text: "Bạn có chắc chắn là muốn xóa sản phẩm này?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {

                        });
                    }
                });
        });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });
</script>